.progressWrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: rgb(26, 90, 19);
}

.bar{
    width: 0%;
    height: inherit;
    position: absolute;
    z-index: 100;
    background-color: white;
    transition: width .2s ease-out;
}

.testpage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    max-width: 900px;
    text-align: center;
    font-size: 20px;
    white-space: pre-line;
}

.progressBar{
    width: 100%;
    height: 20px;
    border-radius: 40px;
    background-color: rgb(64, 114, 64);
}

.highlight{
    width: 100%;
    height: 20px;
    border-radius: 40px;
    background-color: rgb(158, 195, 158);
    transition: ease 1s;
}

.gaya{
    width: 28px;
    height: 28px;
}

.question{
    margin-top: 180px;
}

.btnGroup{
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

button{
    font-family: JalnanGothic;
    border: 0px;
    background-color: white;
    color: rgb(64, 114, 64);
    border-radius: 40px;
    border: 4px solid rgb(64, 114, 64);
    margin: 10px;
    height: 56px;
    width: 320px;
    font-size: 14px;
    border-radius: 40px;
}