body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    touch-action: none;
    position: fixed;
    font-family: GoryeongStrawberry;
}

@font-face {
    font-family: '땅스';
    src: url('./fonts/땅스부대찌개 Light.ttf');
}

@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}