*{
    margin: 0;
    padding: 0;
}

.testlayout {
    width: 100vw;
    font-size: 14px;
    display: flex;
    justify-self: center;
    align-items: center;
}

.startpage{
    background-color: aliceblue;
    width: 100%;
    display: flex;
    flex-flow: column;
    max-width: 900px;
    align-items: center;
    justify-self: center;
}

img {
    width: 100%;
}

.tbutton{
    width: 200px;
    height: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgb(97, 175, 97);
    color: white;
    border-radius: 20px;
}